@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-brightOrange: hsl(31, 77%, 52%);
  --clr-darkCyan: hsl(184, 100%, 22%);
  --clr-veryDarkCyan: hsl(179, 100%, 13%);

  --clr-transparentWhite: hsl(0, 0%, 100%, 0.75); /* paragraphs */
  --clr-veryLightGray: hsl(0, 0%, 95%); /* background, headings, buttons */

  --ff-primary: "Lexend Deca", sans-serif;
  --ff-secondary: "Big Shoulders Display", cursive;
}
body {
  font-size: 15px;
}
main {
  background-color: var(--clr-veryLightGray);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--ff-primary);
}

.container {
  width: auto;

  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}

article {
  width: 300px;
  height: 450px;
  padding: 2rem;
  color: var(--clr-transparentWhite);
  display: flex;
  flex-direction: column;
}
article:nth-child(1) {
  background-color: var(--clr-brightOrange);
}
article:nth-child(2) {
  background-color: var(--clr-darkCyan);
}
article:nth-child(3) {
  background-color: var(--clr-veryDarkCyan);
}
article:nth-child(1) a {
  color: var(--clr-brightOrange);
}
article:nth-child(2) a {
  color: var(--clr-darkCyan);
}
article:nth-child(3) a {
  color: var(--clr-veryDarkCyan);
}

article img {
  margin-top: 1rem;
  width: 30%;
}
article h1 {
  margin-top: 1.5rem;
  color: var(--clr-veryLightGray);
  font-weight: 700;
  font-size: 2.5rem;
  font-family: var(--ff-secondary);
  text-transform: uppercase;
}
article p {
  flex-grow: 1;
  margin-top: 2rem;
  font-weight: 400;
}

article a {
  text-decoration: none;
  padding: 1rem;
  border: 2px solid white;
  background-color: white;
  border-radius: 1.5rem;
  text-align: center;
  width: 70%;
  color: var(--clr-veryLightGray);

  transition-property: background-color color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
article a:hover {
  color: white;
  background-color: var(--clr-transparentWhite);
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  article {
    width: 375px;
    height: 450px;
  }
}
