* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-blue: hsl(248, 32%, 49%);
  --clr-darkBlue: hsl(249, 10%, 26%);
  --clr-grayishBlue: hsl(246, 25%, 77%);

  font-size: 16px;
}
body {
  background-image: url(images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-red);
}

main {
  width: 70%;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.intro_left {
  width: 50%;
  color: white;
}
.intro_right {
  width: 50%;
  color: white;
}
.intro_left h1 {
  margin-bottom: 1em;
}
.intro_left p {
  opacity: 0.8;
  line-height: 1.5;
}
.intro_right .free {
  padding: 1em;
  background-color: var(--clr-blue);
  text-align: center;
  border-radius: 0.7rem;
  box-shadow: 0 0.3em 0.05em gray;
  margin-bottom: 1em;
}
.intro_right .free span {
  opacity: 0.8;
}
.intro_right form {
  padding: 2em;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0.4em 0.1em gray;
}
.intro_right input {
  width: 100%;
  height: 4em;
  padding-left: 1em;
  border-radius: 0.3rem;
  border-color: var(--clr-grayishBlue);
  background-color: white;
  font-weight: 600;
}

.intro_right .input_wrap {
  margin-bottom: 1em;
}
.intro_right .input_wrap span {
  display: none;
}

.intro_right .input_wrap.error span {
  display: block;
  color: var(--clr-red);
  text-align: right;
  padding: 0.5em 0;
  font-weight: 700;
}
.intro_right .input_wrap.error input {
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 1.5em center;
}
.intro_right .submit {
  width: 100%;
  padding: 1em;
  background-color: var(--clr-green);
  text-transform: uppercase;
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-weight: 600;
}
.intro_right form p {
  text-align: center;
  color: var(--clr-grayishBlue);
  font-size: 0.8rem;
  margin-top: 1em;
}
.intro_right form p span {
  color: var(--clr-red);
  font-weight: 600;
}
@media screen and (max-width: 1140px) {
  main {
    flex-direction: column;
    text-align: center;
    max-width: 33em;
  }
  .intro_left {
    width: 100%;
  }
  .intro_right {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 660px) {
  main {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 80%;
  }
  body {
    background-image: url(./images/bg-intro-mobile.png);
  }
}
